* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', cursive;
}

body {
  background: radial-gradient(circle at top, #1b1f3b, #05060f);
  height: 100vh;
  overflow: hidden;
  color: white;
  text-align: center;
}

/* STARS */
.stars {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("stars.png") repeat;
  background-size: cover;
  animation: moveStars 120s linear infinite;
  opacity: 0.6;
  z-index: -1;
}

@keyframes moveStars {
  from { background-position: 0 0; }
  to { background-position: 10000px 5000px; }
}

.section {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 25px;
}

.section.active {
  display: flex;
  animation: fade 1.5s;
}

button {
  margin: 15px;
  padding: 12px 30px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: white;
  color: #ff4f81;
}

.music-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
}

.yes {
  background: #ff2f6d;
  color: white;
}

.no {
  position: absolute;
}

.letter-text {
  max-width: 700px;
  font-size: 22px;
  line-height: 1.7;
  white-space: pre-line;
}

.final-photo {
  width: 280px;
  border-radius: 25px;
  margin-bottom: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

@keyframes fade {
  from { opacity: 0; transform: translateY(40px); }
  to { opacity: 1; transform: translateY(0); }
}

/* CONFETTI */
@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

/* HEART CURSOR */
@keyframes fadeHeart {
  to {
    transform: translateY(-30px);
    opacity: 0;
  }
}
